body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rc-menu-button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: inherit;
  background-color: #fafbfc;
  border-radius: .25rem;
  border: 1px solid #ddd;
  transition-property: background-color,border-color,color,box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.rc-menu-button:hover {
  border-color: #858585;
}

.rc-menu__item a{
  color: #212529;
  text-decoration: none;
}

.my-btn {
  background: white;
  color: #5183f5;
  border: 2px dashed #5183f5;
  will-change: opacity;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 4px;
  -webkit-transition: background 0.2s,color 0.1s;
  transition: background 0.2s,color 0.1s;
}
